<div class="container">
  <h1>Teams and their Captains</h1>

  <%#<%= link_to 'New team', new_team_path %>

  <table class="table">
    <tr>
      <!-- <th>Name</th> -->
      <!-- <th>Action</th> -->
      <th colspan="3"></th>
    </tr>

    <% @teams.each do |team| %>
      <tr>
        <td class="team_name"><%= team.name %></td>
        <td>
              <% if team.try(:user) %>
                <%= team.user.email %>
              <% else %>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Assign a captain
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% @users.each do |user| %>
                    <%= link_to user.email, teams_path, :class => "dropdown-item" %>
                  <% end %>
                </div>
              </div>
              <% end %>
          </td>
      </tr>
    <% end %>
  </table>
</div>


<!-- update_user_path(team, user) -->
