<div class="container">
  <h1>Teams</h1>

  <%#<%= link_to 'New team', new_team_path %>

  <table class="table">
    <tr>
      <!-- <th>Name</th> -->
      <!-- <th>Action</th> -->
      <th colspan="3"></th>
    </tr>

    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>
    <% end %>
  </table>
</div>
